<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="css/{{viewCss}}">

</head>

<body>
    
    {{!-- <header>
        {{> nav }}
    </header> --}}
 	<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Login</div>
      <div class="eula">By logging in, you have been authenticated to use our API's. This authentication process ensures that only authorized users are able to access the data and services provided by our API's.</div>
    </div>
     {{!-- In addition, it also helps protect your personal information from unauthorized access or misuse of the system. With this secure authentication process in place, you can rest assured that your data is safe and secure when using our API's. --}}
    <div class="right">
      <div class="form">
        <form action="/login" id="nameform" method="post">
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button type="submit" form="nameform" id="submit" value="Submit" class="button-9" role="button">Submit</button>
        <br>
        <small>Don't have an account? <a href="/signup" style="color:white;">Sign up</a></small>
        {{!-- <input type="submit" id="submit" value="Submit"> --}}
        </form>
      </div>
    </div>
  </div>
</div>


</body>
</html>